*.DS_Store
*.pyc
*.bak
*.log
*.pem

# no aws temparory credentials
aws_tokens.json

# no build packages
/build/


# no pycache
/__pycache__/

# no Intellij cache
.idea/

# no cache token
aws_tokens.json

# no vs code cache
.vscode/

# no pytest cache
.pytest_cache/

# no egg-info
crunch_support.egg-info/